body{
    padding: 0;
    margin: 0;
    background-image: url(imagens/crokedman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}

p{  
    width: 45vh;
    color: cornsilk;
    font-size: 1.5em;
    margin: 1.5em;
    opacity: 0.8;
    text-align: center;
}

button{
    border: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 1em;
    background-color: rgba(72,14,9,255);
    color: cornsilk;
    font-weight: 700;
    opacity: 0.8;
}


button:hover{
    background-color: cornsilk;
    color: rgba(72,14,9,255);
    opacity: 0.9;
}

h1{
   font-size: 2.5em;
   color: cornsilk;
   opacity: 0.8;
}



