body {
    margin: 0;
    padding: 0;
    background-image: url(../imagens/crokedman.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    
}

h1 {
 width: 100vmax;
 text-align: center;
 color: cornsilk;
}

.personagens {
    width: 30vh;
    text-align: center;
    margin: 1em;
    padding: 1em;
    background-color: rgba(72,14,9,255);
    opacity: 0.8;
    border-radius: 1em;
}

.personagens:hover{
    background-color: rgba(145,44,30,255);
}

img{
    filter: grayscale(100%);
    width: 15vw;
    height: 15vh;
    border-radius: 5px;
}

p {
    color: cornsilk;
    align-self: center;
    padding-top: 2em;
    opacity: 0.8;
}

h4 {
    color: cornsilk;
    padding-top: 1em;
    opacity: 0.8;
}

button {
    margin: 1em;
    font-size: 1.4em;
    background-color:cornsilk;
    color: rgba(72,14,9,255);
    border-radius: 0.3em;
    opacity: 0.8;
}

button:hover{
    background-color: rgba(72,14,9,255);
    color: cornsilk;
}

a{
    text-decoration: none;
    color:rgba(72,14,9,255)
}

a:hover{
    color: cornsilk;
}


@media (max-width: 700px) {
    img{
        width: 40vw;
        height: 15vh;
    }
}